---
basics:
  domain:
  cloudbox: false
registry:
  user:
  pass:
  version:
    daemon: latest
    web: latest
hub:
  user:
  pass:
web:
  user:
  pass:
google:
  client_id:
  client_secret:
  teamdrives:
cloudflare:
  email:
  api:
